html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  font-family: "Lato", "Arial", sans-serif;
}

a {
  color: white;
  text-decoration: none;

  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.6;
}

p {
  margin-top: 17px;
  margin-bottom: 10px;
  padding-right: 1px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: 0.0006em;
  word-spacing: -0.08em;
}

.container {
  position: relative;

  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.portfolio {
  box-sizing: border-box;
  padding-top: 43px;
  padding-bottom: 57px;

  color: #666d89;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin-top: 20px;
  margin-bottom: 17px;
  overflow: hidden;

  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.008em;
  white-space: nowrap;
}

.portfolio__tags {
  margin-left: 1px;
}

.tag {
  margin-right: 5px;
  padding: 4px 6px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  letter-spacing: 0.007em;
  word-spacing: -0.08em;

  border: 1px solid #767e9e;
  border-radius: 5px;
  cursor: pointer;

  transition: color 0.3s, border-color 0.3s;
}

.tag:hover {
  color: #dedede;

  border-color: #dedede;
}

.tag:nth-child(1) {
  padding: 4px 7px;

  letter-spacing: 0.004em;
}

.tag:nth-child(4) {
  padding-right: 5px;
}


.tag_active {
  color: #dedede;

  border-color: #dedede;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.layout-4-column > * {
  display: block;
  box-sizing: border-box;
  width: 240px;
  padding: 10px;
}

.portfolio__items {
  margin-top: 11px;
}

.portfolio__items img {
  display: block;
}

.portfolio__items a:nth-child(n+13) {
  display: none;
}

.about-us {
  box-sizing: border-box;
  padding-top: 42px;
  padding-bottom: 52px;

  color: #767e9e;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  margin-top: 20px;
  margin-bottom: 17px;
  overflow: hidden;

  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  text-transform: capitalize;
  letter-spacing: 0.002em;
  white-space: nowrap;
}

.about-us__workers {
  margin-top: 33px;
}

.worker:nth-child(2) {
  margin-left: -1px;
}

.worker:nth-child(3) {
  margin-left: 1px;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.layout-3-column > * {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 10px;
}

.worker__name {
  margin-top: 12px;
  margin-bottom: 7px;
  overflow: hidden;

  font-weight: 900;
  font-size: 18px;
  color: #666d89;
  letter-spacing: 0.002em;
  word-spacing: -0.03em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.worker__description {
  max-height: 42px;
  margin-top: 0;
  margin-bottom: 23px;
  overflow: hidden;

  font-size: 12px;
  line-height: 21.56px;
  text-align: justify;
  letter-spacing: 0.003em;
  word-spacing: -0.074em;
  text-overflow: ellipsis;
}

.worker__social-links {
  margin-left: 1px;
}

.worker__social-links a {
  margin-right: 4px;
}

.worker:nth-child(3) .worker__social-links {
  margin-left: 0;
}
