html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  font-family: "Lato", "Arial", sans-serif;
}

a {
  color: white;
  text-decoration: none;

  transition: opacity 0.6s;
}

a:hover {
  opacity: 0.6;
}

p {
  letter-spacing: 0.0006em;
  word-spacing: -0.08em;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 20px;
  margin-bottom: 17px;
  overflow: hidden;

  font-weight: 900;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  position: relative;

  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

header {
  position: relative;

  box-sizing: border-box;
  height: 95px;

  color: white;
  text-transform: uppercase;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo {
  position: absolute;
  top: 35.5%;

  font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.023em;
}

.logo a:hover {
  opacity: 1;
}

.logo span {
  color: #f06c64;
}

.header__navigation {
  position: absolute;
  top: 48%;
  right: 0;

  font-size: 12px;
}

.navigation a {
  position: relative;

  padding: 6px 13.8px;

  font-weight: 400;
  letter-spacing: -0.015em;

  transition: color 0.3s;
}

.navigation a:hover {
  color: #f06c64;

  opacity: 1;
}

.navigation a:last-child {
  padding-right: 10px;
}

.navigation a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 49%;
  right: -3px;

  display: block;
  width: 2px;
  height: 2px;

  background-color: #494e62;
  border-radius: 50%;
}

.slider {
  box-sizing: border-box;
  height: 600px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider__arrow {
  position: absolute;
  top: 47%;

  padding: 2px;

  cursor: pointer;

  transition: opacity 0.3s;
}

.slider__arrow_right {
  right: 8px;
}

.slider__arrow_left {
  transform: rotate(180deg);
}

.slider__arrow:hover {
  opacity: 0.6;
}

.slide {
  position: relative;
}

.slide__phone-vertical {
  position: absolute;
  top: 53px;
  left: 72px;
}

.slide__phone-horizontal {
  position: absolute;
  top: 174px;
  right: 71px;

  transform: rotate(90deg) translateY(26px);
}

.slide__phone-horizontal > .shadow {
  transform: rotateX(180deg) translateY(26px);
}

.shadow {
  position: absolute;
  z-index: 1;
}

.base {
  position: absolute;
  z-index: 2;
}

.screen {
  position: absolute;
  top: 62px;
  left: 11px;
  z-index: 3;

  border: 3px solid #c6c6c6;
  border-radius: 4px;
}

.services {
  padding-top: 42px;
  padding-bottom: 30px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}


.services__title {
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.003em;
}

.services__text {
  margin-top: 17px;
  padding-right: 1px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: 0.0024em;
  word-spacing: -0.097em;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.layout-3-column > * {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding-right: 10px;
  padding-left: 10px;
}

.services__boxes {
  margin-top: 43px;
}

.service-box {
  margin-bottom: 17px;
}

.service-box__image {
  float: left;
  box-sizing: border-box;
  width: 59px;
  height: 59px;
  margin-top: 2px;
}

.service-box__title {
  margin-top: 0;
  margin-bottom: 6px;
  margin-left: 79px;
  overflow: hidden;

  font-size: 18px;
  color: #666d89;
  text-transform: capitalize;
  letter-spacing: 0.009em;
  word-spacing: -0.099em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service-box:nth-child(3n) .service-box__title {
  padding-left: 2px;

  letter-spacing: 0.009em;
  word-spacing: -0.05em;
}

.service-box:nth-child(3n + 1) {
  padding-left: 11px;
}

.service-box__text {
  max-height: 66px;
  margin-top: 0;
  margin-left: 80px;
  overflow: hidden;

  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: 0.0086em;
  word-spacing: -0.0849em;
}

.portfolio {
  padding-top: 42px;
  padding-bottom: 57px;

  color: #666d89;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin-top: 20px;
  margin-bottom: 17px;
  overflow: hidden;

  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.008em;
  white-space: nowrap;
}

.portfolio__text,
.about-us__text,
.get-quote__text {
  margin-top: 17px;
  margin-bottom: 10px;
  padding-right: 1px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: 0.0006em;
  word-spacing: -0.08em;
}

.portfolio__tags {
  height: 19px;
  margin-left: 1px;

  word-spacing: 6px;
}

.tag {
  padding: 4px 6px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  letter-spacing: 0.007em;
  word-spacing: -0.08em;

  border: 1px solid #767e9e;
  border-radius: 5px;
  cursor: pointer;

  transition: color 0.3s, border-color 0.3s;
}

.tag:hover {
  color: #dedede;

  border-color: #dedede;
}

.tag:nth-child(1) {
  padding: 4px 6.5px;

  letter-spacing: 0.004em;
}

.tag:nth-child(3) {
  padding-right: 5px;

  letter-spacing: 0.004em;
}

.tag:nth-child(4) {
  margin-left: -1px;
  padding-right: 5px;
}


.tag_active {
  color: #dedede;

  border-color: #dedede;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.layout-4-column > * {
  display: block;
  box-sizing: border-box;
  width: 240px;
  padding: 10px;
}

.portfolio__items {
  margin-top: 11px;
}

.portfolio__items img {
  display: block;
}

.portfolio__items a:nth-child(n+13) {
  display: none;
}

.about-us {
  box-sizing: border-box;
  padding-top: 42px;
  padding-bottom: 52px;

  color: #767e9e;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.002em;
  word-spacing: -0.03em;
}

.about-us__workers {
  margin-top: 43px;
  margin-bottom: 10px;
}

.worker:nth-child(2) {
  margin-left: -1px;
}

.worker:nth-child(3) {
  margin-left: 1px;
}

.worker__name {
  margin-top: 12px;
  margin-bottom: 7px;
  overflow: hidden;

  font-weight: 900;
  font-size: 18px;
  color: #666d89;
  letter-spacing: 0.001em;
  word-spacing: -0.03em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.worker__description {
  max-height: 42px;
  margin-top: 0;
  margin-bottom: 23px;
  overflow: hidden;

  font-size: 12px;
  line-height: 21.56px;
  text-align: justify;
  letter-spacing: -0.0025em;
  word-spacing: -0.074em;
}

.worker__social-links {
  margin-left: 1px;
}

.social-links a {
  margin-right: 4px;
}

.social-links a:last-child {
  margin-right: 0;
}

.worker:nth-child(3) .worker__social-links {
  margin-left: 0;
}


.get-quote {
  padding-top: 42px;
  padding-bottom: 51px;

  color: #f0d8d9;
  word-spacing: -0.3em;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get-quote__title {
  margin-top: 20px;
  margin-bottom: 17px;
  overflow: hidden;

  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  letter-spacing: 0.001em;
  word-spacing: -0.03em;
  white-space: nowrap;
}

.get-quote__text {
  color: #f0d8d9;
}

.get-quote__form {
  display: inline-block;
  width: 619px;
  margin-top: 32px;
  margin-right: 21px;

  vertical-align: top;
}

.get-quote__contact {
  margin-top: 31px;
}

.get-quote__form > * {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 12px;
  line-height: 21.56px;
  font-family: "Lato", "Arial", sans-serif;
  color: #f0d8d9;
  letter-spacing: 0.006em;
  word-spacing: -0.03em;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

textarea {
  display: block;
  height: 148px !important;
  margin-top: 0;
  padding: 8px 15px;

  resize: none;
}

.get-quote__form > *::placeholder {
  color: #f48c8f;
}

.get-quote__form > *::-ms-input-placeholder {
  color: #f48c8f;
}

.contact {
  display: inline-block;
  max-width: 300px;

  vertical-align: top;
}

.contact__title {
  margin-top: 0;
  margin-bottom: 6px;

  font-weight: 600;
  word-spacing: 0.003em;
}

.contact__list {
  margin-top: 22px;
  padding-left: 1px;

  font-size: 11.6px;
  line-height: 22px;
  letter-spacing: 0.01em;
  word-spacing: -0.03em;
}

.contact__list > li {
  display: block;
  margin-top: -1px;

  list-style-type: none;
}

.contact__list span::before {
  display: inline-block;

  transform: translateY(1px);
}

.contact__list > li:nth-child(3) {
  margin-top: 0;
}

.contact__location-icon::before {
  content: url("./assets/images/contact-icons/location-icon.png");

  margin-right: 13px;
  margin-left: 2px;
}

.contact__phone-icon::before {
  content: url("./assets/images/contact-icons/phone-icon.png");

  margin-right: 12px;
}

.contact__mail-icon::before {
  content: url("./assets/images/contact-icons/mail-icon.png");

  margin-right: 11px;
  margin-left: -1px;
}

input[type="submit"] {
  width: 26%;

  cursor: pointer;
}

.contact__text {
  margin-top: 0;
  overflow: hidden;

  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.0045em;
}

.contact__link {
  color: #f0d8d9;
  text-decoration: none;
}

.footer__social-links {
  margin-top: 4px;
}

.footer__social-links a:nth-child(3) {
  margin-right: 3px;
}

.footer {
  height: 76px;

  background-color: #2d303a;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin-left: 2px;

  font-size: 12px;
  color: #666d89;
  letter-spacing: -0.01em;
  word-spacing: -0.06em;
}

.footer__copyright > .dot-symbol {
  color: #494e62;
}
